@import '~node_modules/modern-normalize/modern-normalize.css';
:root{
  --timing-function__main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif; // default FF
}

section {
  min-width: 320px; //lowest width for mobile
}

.footerBg {
  background-color: #0e0e0e;
}
