@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #0e0e0e;
  font-family: 'Montserrat', sans-serif; // default FF
}

section {
  min-width: 320px; //lowest width for mobile
}

.tui-pagination {
  min-width: 320px;
}
