<section class="gallery">
    <div class="container">
        <h2 class="hide gallery__title">Gallery koncert cards</h2>
        <ul class="gallery__list">
            <li class="gallery__item-card">
                <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
                <h3 class="gallery__card-title">MONATIK</h3>
                <p class="gallery__date">2021-07-17</p>
                <p class="gallery__kontsert-location">
                    <svg class="gallery__card-icon" width="6" height="9">
                        <use href="./images/symbol-defs.svg#location-desc"></use>
                    </svg>VDNH
                </p>
            </li>
            <li class="gallery__item-card">
                <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
                <h3 class="gallery__card-title">MONATIK</h3>
                <p class="gallery__date">2021-07-17</p>
                <p class="gallery__kontsert-location">
                    <svg class="gallery__card-icon" width="6" height="7">
                        <use href="./images/symbol-defs.svg#location-desc"></use>
                    </svg>VDNH
                </p>
            </li>
            <li class="gallery__item-card">
                <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
                <h3 class="gallery__card-title">MONATIK</h3>
                <p class="gallery__date">2021-07-17</p>
                <p class="gallery__kontsert-location">
                    <svg class="gallery__card-icon" width="6" height="9">
                        <use href="./images/symbol-defs.svg#location-desc"></use>
                    </svg>VDNH
                </p>
            </li>
            <li class="gallery__item-card">
                <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
                <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
                <p class="gallery__date">2021-07-17</p>
                <p class="gallery__kontsert-location">
                    <svg class="gallery__card-icon" width="6" height="9">
                        <use href="./images/symbol-defs.svg#location-desc"></use>
                    </svg>VDNH
                </p>
            </li>
<li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li><li class="gallery__item-card">
    <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
    <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
    <p class="gallery__date">2021-07-17</p>
    <p class="gallery__kontsert-location">
        <svg class="gallery__card-icon" width="6" height="9">
            <use href="./images/symbol-defs.svg#location-desc"></use>
        </svg>VDNH
    </p>
</li>            <li class="gallery__item-card">
                <img src="./images/test.img/monatick.png" alt="photo-Monatik" class="gallery__img">
                <h3 class="gallery__card-title">Eurovision 2021 finals!</h3>
                <p class="gallery__date">2021-07-17</p>
                <p class="gallery__kontsert-location">
                    <svg class="gallery__card-icon" width="6" height="9">
                        <use href="./images/symbol-defs.svg#location-desc"></use>
                    </svg>VDNH
                </p>
            </li>
        </ul>


    </div>
</section>