<footer class="footer">
  <div class="container">
    <p class="footer-copyright">
      © 2022 | All Rights Reserved | Developed with
      <span class="footer-heart">♥</span> by
      <a href class="footer-students"> GoIT Students</a>
    </p>
    <div class="backdrop-footer is-hidden-footer">
      <div class="footer-modal">
        <button class="modal-close-footer"></button>
        <div class="wrapper">
        <ul class="students-info  line-first">
          <li class="students-item">
            <img
              class="students-foto"
              src="/src/images/students/Danil_kachura.jpg"
              alt="#"
            />
            <div class="text_and_link">
            <h4 class="students-name">Даніїл Качура</h4>
            <ul>
              <li class="students-icon">
                <a target="_blank" href="#">
                  <svg>
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg></a>
              </div>
              </li>
            </ul>
          
          <li class="students-item">
            <img
              class="students-foto"
              src="./images/students/Dmytro_Vorobec.jpg"
              alt="Dmytro Vorobec"
            />
            <div class="text_and_link">
            <h4 class="students-name">Дмитро Воробець</h4>
            <ul>
              <li class="students-icon">
                <a target="_blank" href="https://github.com/dmytroorobets025">
                  <svg>
                    <use href="./images/symbol-defs.svg#icon-github"></use></svg
                ></a></div>
              </li>
            </ul>
          </li>
          <li class="students-item">
            <img
              class="students-foto"
              src="/src/images/students/Danil_kachura.jpg"
              alt="Danil kachura"
            />
            <div class="text_and_link">
            <h4 class="students-name">Даніїл Качура</h4>
            <ul>
              <li class="students-icon">
                <a target="_blank" href="https://github.com/Daniil-Kachura">
                  <svg>
                    <use href="./images/symbol-defs.svg#icon-github"></use></svg
                ></a></div>
              </li>
            </ul>
          </li>
          <li class="students-item">
            <img
              class="students-foto"
              src="/src/images/students/Nilita_Gordienko.png"
              alt="Nilita Gordienko"
            />
            <div class="text_and_link ">
            <h4 class="students-name ">Микита Гордієнко</h4>
            <ul>
              <li class="students-icon">
                <a target="_blank" href="https://github.com/NikitaHordiienko">
                  <svg>
                    <use href="./images/symbol-defs.svg#icon-github"></use></svg
                ></a></div>
              </li>
            </ul>
          </li>
          <li class="students-item">
            <img
              class="students-foto"
              src="#"
              alt="#"
            />
            <div class="text_and_link">
            <h4 class="students-name">###</h4>
            <ul>
              <li class="students-icon">
                <a target="_blank" href="#">
                  <svg>
                    <use href="./images/symbol-defs.svg#icon-github"></use></svg
                ></a></div>
              </li>
            </ul>
          </li>
          <li class="students-item">
            <img
              class="students-foto"
              src="#"
              alt="#"
            />
            <div class="text_and_link">
            <h4 class="students-name">###</h4>
            <ul>
              <li class="students-icon">
                <a target="_blank" href="#">
                  <svg>
                    <use href="./images/symbol-defs.svg#icon-github"></use></svg
                ></a></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
