<footer class="footer">
  <div class="container">
    <p class="footer-copyright">
      © 2022 | All Rights Reserved | Developed with
      <span class="footer-heart">♥</span> by
      <a href class="footer-students"> GoIT Students</a>
    </p>
    <div class="backdrop-footer is-hidden-footer">
      <div class="footer-modal">
        <button class="modal-close-footer"></button>

        <ul class="students-info  line-first">
          <li class="students-item">
            <img class="students-foto" src="/src/images/students/Ostapenko_Ivan.jpg" alt="#" />
            <div class="text_and_link">
              <h4 class="students-name">Іван Остапенко</h4>
              <a class="students-icon" target="_blank" href="https://github.com/OstapenkoIvan">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-github-3"></use>
                </svg>
              </a>
            </div>
          </li>

          <li class="students-item">
            <img class="students-foto" src="./images/students/Dmytro_Vorobec.jpg" alt="Dmytro Vorobec" />
            <div class="text_and_link">
              <h4 class="students-name">Дмитро Воробець</h4>
              <a class="students-icon" target="_blank" href="https://github.com/dmytroorobets025">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-github-3"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="students-item">
            <img class="students-foto" src="/src/images/students/Danil_kachura.jpg" alt="Danil kachura" />
            <div class="text_and_link">
              <h4 class="students-name">Даніїл Качура</h4>
              <a class="students-icon" target="_blank" href="https://github.com/Daniil-Kachura">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-github-3"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="students-item">
            <img class="students-foto" src="/src/images/students/Nilita_Gordienko.png" alt="Nilita Gordienko" />
            <div class="text_and_link ">
              <h4 class="students-name ">Микита Гордієнко</h4>
              <a class="students-icon" target="_blank" href="https://github.com/NikitaHordiienko">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-github-3"></use>
                </svg>
              </a>
            </div>
          </li>

          </li>
          <li class="students-item">
            <img class="students-foto" src="/src/images/students/Mariia_Hlushak.jpg" alt="Mariia Hlushak" />
            <div class="text_and_link">
              <h4 class="students-name">Марія Глушак</h4>
              <a class="students-icon" target="_blank" href="https://github.com/mariiaglushak">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-github-3"></use>
                </svg></a>
            </div>
          </li>
          <li class="students-item">
            <img class="students-foto" src="/src/images/students/Vitalii_Sabat1.jpg" alt="Vitalii_Sabat" />
            <div class="text_and_link">
              <h4 class="students-name">Віталій Сабат</h4>
              <a class="students-icon" target="_blank" href="https://github.com/goodcat46">
                <svg>
                  <use href="./images/symbol-defs.svg#icon-github-3"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>