<header class="page-header">
    
    <div class="container">
        <div class="page-header__wrapper">
            <div class="background-image__top"></div>
            <a class="logo" href="#">
                <svg class="logo__icon" width="60" height="25">
                    <use id="use" href="/src/images/symbol-defs.svg#logo-mob"></use>
                </svg>                
            </a>
            
            <h1 class="page-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        </div>        
        
        <form class="header-form">
            <label class="hide" for="event-searching">Start searching</label>
            <div class="header-form__thumb">
                <input class="header-form__input" type="text" name="text" id="event-searching" placeholder="Start searching">
                <svg class="header-form__icon" width="12" height="12">
                    <use href="/src/images/symbol-defs.svg#search-desc"></use>
                </svg>
            </div>            
        
            <label class="hide" for="country-searching">Choose country</label>
            <div class="header-form__thumb">
                <input class="header-form__input" type="select" name="text" id="country-searching" placeholder="Choose country">
                <svg class="header-form__icon" width="15" height="10">
                    <use href="/src/images/symbol-defs.svg#polygon"></use>
                </svg>
            </div>
            
        </form>
    </div>   
</header>