<div class="backdrop is-hidden js-backdrop js-mdl">
  <div class="modal">
    <button class="button --close-modal js-close-modal js-mdl" type="button">
      <svg class="btn-icon">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content js-modal-content">
     
    </div>
    <div class='modal-bottom'>
      <button class='button --moreInfoBtn' type='button'>
        MORE FROM THIS AUTHOR
      </button>
    </div>
  </div>
</div>
