
.gallery__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 32px;
    padding: 10px;
    margin-bottom: 60px;
  
}
.gallery__item-card{
    position: relative;
    display: block;
    min-height: 239px;
    width: 120px;
    text-align: center;
    padding-bottom: 5px;
}

.gallery__link:hover .gallery__img-wrapper::before,
.gallery__link:focus .gallery__img-wrapper::before{
    border-color: getColor('font-clr1');
}
.gallery__img-wrapper{
    overflow: hidden;
    width: 100%;
    height: 154px;
    border-radius: 50px 0;
    
}
.gallery__img-wrapper::before{
    content: "";
        position: absolute;
        top: -9px;
        right: -9px;
        width: 102px;
        height: 95px;
        border-radius: 50px 0;
        border: 1px solid getColor('bg-clr4');

}
.gallery__img{
    object-fit: cover;
    display: block;
    object-position: center;
    width: 100%;
    position: relative;

}

.gallery__card-title {
  @include font-size(14px, 700, calc(17.07 / 14));
  color: getColor('font-clr1');
  margin-top: 8px;
}

.gallery__date{
    @include font-size(14px, 400, calc(17.07 / 14));
    margin-top: 8px;
    color: getColor('font-clr2');

}
.gallery__kontsert-location{
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size(12px, 600, calc(14.63 / 12));
    margin-top: 8px;
    color: getColor('font-clr2');

}
 .gallery__card-icon {
    display: inline-block;
     margin-right: 4px;

 }
@include phone{
    .gallery__list{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
      
}
@include tablet{
    .gallery__list{
        // max-width: 760px;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 43px;
     
    }
    .gallery__item-card{
        width: 141px;
        min-height: 269px;
        
    }
    .gallery__img-wrapper::before {
        content: "";
        width: 120px;
        height: 112px;
        top: -10px;
        right: -10px;

    }
    .gallery__img-wrapper{
        width: 100%;
        height: 178px;
       
    }
    .gallery__card-title {
        @include font-size(16px, 700, calc(19.05 / 16));
    }
    .gallery__date {
        @include font-size(16px, 400, calc(19.05 / 16));
    }
     .gallery__kontsert-location {
        @include font-size(14px, 600, calc(17.07 / 14));
        
    }
    .gallery__card-icon{
        width: 8px;
        height: 14px;
    }
}

@include desktop{
    .gallery__list {
        // max-width: 1248px;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 53px;
        row-gap: 59px;
       
    }
    .gallery__item-card {
        width: 267px;
        min-height: 437px;
       
    }
    .gallery__img-wrapper::before {
        content: "";
        width: 227px;
        height: 212px;
        top: -19px;
        right: -19px;

    }
   .gallery__img-wrapper{
      width: 100%;
      min-height: 337px;

   }
    .gallery__card-title {
        @include font-size(16px, 700, calc(19.05 / 16));
    }
    .gallery__date {
        @include font-size(16px, 400, calc(19.05 / 16));
    }
    .gallery__kontsert-location {
        @include font-size(14px, 600, calc(17.07 / 14))    
    }
    .gallery__card-icon {
        width: 10px;
        height: 18px;
    }

}

