.gallery{
    padding-bottom: 60px;
}
.gallery__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 32px;
    padding: 10px;
  
}
.gallery__item-card{
    position: relative;
    display: block;
    min-height: 209px;
    width: 120px;
    padding-bottom: 8px;
    transition: transform 250ms $time-distribution-function;
   
 
}
.gallery__img-wrapper{
    overflow: hidden;
    width: 100%;
    height: 100px;
    border-radius: 50px 0;
      
    
}
.gallery__item-card:hover,
.gallery__item-card:focus{
    // border-bottom: 1px solid getColor('font-clr1');
    transform: scale(1.05);

}
.gallery__img-wrapper::before{
    content: "";
        position: absolute;
        top: -9px;
        right: -9px;
        width: 120px;
        height: 100px;
        border-radius: 50px 0;
        border: 1px solid getColor('bg-clr4');
        transition: border-color 250ms $time-distribution-function;

}
.gallery__item-card:hover .gallery__img-wrapper::before,
.gallery__item-card:focus .gallery__img-wrapper::before{
    border-color: getColor('font-clr1');
   
}
.gallery__img{
  
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

}

.gallery__card-title {
  @include font-size(14px, 700, calc(17.07 / 14));
  color: getColor('font-clr1');
  margin-top: 8px;
  text-align: center;
}

.gallery__date{
    @include font-size(14px, 400, calc(17.07 / 14));
    margin-top: 8px;
    color: getColor('font-clr2');
    text-align: center;

}
.gallery__kontsert-location{
    display: flex;
    justify-content: center;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    @include font-size(12px, 600, calc(14.63 / 12));
    color: getColor('font-clr2');

}
.gallery__card-icon {
    display: block;
    margin-right: 4px;
    fill: getColor('font-clr2');
   

 }
@include phone{
    .gallery{
        margin-top: -50px;
    }
    .gallery__list{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery__card-icon{
        margin-top: 2px;

    }
    .gallery__img-wrapper{
        border-radius: 30px 0;
    }
      
}
@include tablet{
    .gallery__list{ 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 43px;
     
    }
    .gallery__item-card{
        width: 141px;
        min-height: 239px;
        
    }
    .gallery__img-wrapper::before {
        content: "";
        width: 120px;
        height: 85px;
        top: -10px;
        right: -10px;
        border-radius: 30px 0;

    }
    .gallery__img-wrapper{
        width: 100%;
        height: 95px;
        border-radius: 30px 0; 
    }
    .gallery__card-title {
        @include font-size(16px, 700, calc(19.05 / 16));
    }
    .gallery__date {
        @include font-size(16px, 400, calc(19.05 / 16));
    }
     .gallery__kontsert-location {
        @include font-size(14px, 600, calc(17.07 / 14));
        
    }
    .gallery__card-icon{
        width: 8px;
        height: 14px;
        margin-top: 2px;
    }
}

@include desktop{
    .gallery__list {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 53px;
        row-gap: 59px;
       
    }
    .gallery__item-card {
        width: 267px;
        min-height: 330px;
       
    }
    .gallery__img-wrapper::before {
        content: "";
        width: 227px;
        height: 180px;
        top: -19px;
        right: -19px;


    }
   .gallery__img-wrapper{
      width: 100%;
      height: 200px;

   }
    .gallery__card-title {
        @include font-size(16px, 700, calc(19.05 / 16));
    }
    .gallery__date {
        @include font-size(16px, 400, calc(19.05 / 16));
    }
    .gallery__kontsert-location {
        @include font-size(14px, 600, calc(17.07 / 14))    
    }
    .gallery__card-icon {
        width: 9px;
        height: 15px;
    }

}

