.gallery {
  background: #0e0e0e;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: getColor('font-clr2');
}
.gallery__item-card {
  position: relative;
  display: block;
  height: 239px;
  width: 130px;
  text-align: center;
}
.gallery__item-card:not(:last-child) {
  margin-bottom: $dist32;
}
.gallery__item-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 102px;
  height: 95px;
  border-radius: 50px 0;
  border: 1px solid getColor('bg-clr4');
}
.gallery__img {
  display: block;
  width: 120px;
  height: 151px;
  border-radius: 50px 0;
  position: relative;
  margin-top: 9px;
}
.gallery__card-title {
  @include font-size(14px, 700, calc(17.07 / 14));
  color: getColor('font-clr1');
  margin-top: 8px;
}
.gallery__date {
  @include font-size(14px, 400, calc(17.07 / 14));
  margin-top: 8px;
}
.gallery__kontsert-location {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-size(12px, 600, calc(14.63 / 12));
  margin-top: 8px;
}
.gallery__card-icon {
  display: inline-block;
  margin-right: 4px;
}
@include phone {
  .gallery__list {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@include tablet {
  .gallery__list {
    width: 704px;
    justify-content: space-between;
  }
  .gallery__item-card {
    width: 152px;
    height: 269px;
  }
  .gallery__item-card::before {
    content: '';
    width: 120px;
    height: 112px;
  }
  .gallery__img {
    width: 141px;
    height: 168px;
    margin-top: 10px;
  }
  .gallery__card-title {
    @include font-size(16px, 700, calc(19.05 / 16));
  }
  .gallery__date {
    @include font-size(16px, 400, calc(19.05 / 16));
  }
  .gallery__kontsert-location {
    @include font-size(14px, 600, calc(17.07 / 14));
  }
  .gallery__card-icon {
    width: 8px;
    height: 14px;
  }
}

@include desktop {
  .gallery__list {
    width: 1248px;
    justify-content: space-between;
  }
  .gallery__item-card {
    width: 288px;
    height: 437px;
  }
  .gallery__item-card::before {
    content: '';
    width: 227px;
    height: 212px;
  }
  .gallery__img {
    width: 267px;
    height: 337px;
    margin-top: 19px;
  }
  .gallery__item-card:not(:last-child) {
    margin-bottom: $dist40;
  }
  .gallery__card-title {
    @include font-size(16px, 700, calc(19.05 / 16));
  }
  .gallery__date {
    @include font-size(16px, 400, calc(19.05 / 16));
  }
  .gallery__kontsert-location {
    @include font-size(14px, 600, calc(17.07 / 14));
  }
  .gallery__card-icon {
    width: 10px;
    height: 18px;
  }
}
