body.light-theme {
  height: 100%;
  color: getColor('font-clr3');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff2fd;
  transition: all 300ms;
  background-image: url(../images/background-body/mobile/light-bg-body-mobile.svg);

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-body/tablet/light-bg-body-tablet.svg);
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background-body/desktop/light-bg-body-desktop.svg);
    background-size: cover;
  }

  @media screen and (min-width: 1500px) {
    background-size: contain;
  }
}
body.dark-theme {
  height: 100%;
  color: getColor('font-clr2');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: getColor('font-clr3');
  transition: all 300ms;
  background-image: url(../images/background-body/noise-body.svg),
    url(../images/background-body/mobile/bg-body-mobile.svg);

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-body/noise-body.svg),
      url(../images/background-body/tablet/bg-body-tablet.svg);
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background-body/noise-body.svg),
      url(../images/background-body/desktop/bg-body-desktop.svg);
    background-size: cover;
  }

  @media screen and (min-width: 1500px) {
    background-size: contain;
  }
}

.light-theme {
  .gallery__date,
  .gallery__kontsert-location {
    color: getColor('font-clr3');
    transition: all 300ms;
  }
  .gallery__card-icon {
    fill: getColor('font-clr3');
  }
  .gallery__card-icon {
    fill: getColor('font-clr1');
  }
}

.gallery__card-icon {
  fill: getColor('font-clr1');
  transition: all 300ms;
}

#pagination .tui-page-btn {
  background: getColor('font-clr3');
  color: #fff;
  border: none;
  border-radius: 10px 0px;
}

#pagination .tui-is-selected {
  // background: #fff;
  // color: black;
  border-radius: 10px 0px;
  border: 1px solid #dc56c5;
}

#pagination .tui-last:hover {
  background-color: getColor('font-clr1');
  transition: all 250ms;
}

#pagination .tui-page-btn:hover {
  background-color: getColor('font-clr1');
  transition: all 250ms;
}

body.light-theme {
  #pagination .tui-page-btn {
    background-color: #fff2fd;
    border-radius: 50%;
    border-radius: 10px 0px;
  }
  #pagination .tui-page-btn:hover {
    background: getColor('font-clr2');
    transition: all 250ms;
  }

  #pagination .tui-page-btn {
    color: getColor('font-clr3');
    border: 1px solid #dc56c5;
    border-radius: 10px 0px;
  }
  #pagination .tui-is-selected {
    color: #000;
    background: getColor('font-clr1');
  }
}

#pagination.tui-pagination {
  .tui-prev,
  .tui-first,
  .tui-next {
    display: none;
  }
  .tui-last {
    font-size: 12px;
  }
  .tui-last.tui-is-disabled {
    display: none;
  }
}
.tui-last-page {
  color: white;
  &::after {
    content: attr(data-num);
  }
}

body.light-theme {
  .page-header__thumb {
    box-shadow: 0px 11px 127px 5px rgba(220, 86, 197, 0.8),
      inset 0px 11px 104px -27px rgba(255, 255, 255, 1);
    // animation: flicker 3s linear infinite;

    // @keyframes flicker {
    //   0%,
    //   18%,
    //   22%,
    //   25%,
    //   53%,
    //   57%,
    //   100% {
    //     box-shadow: 0px 11px 127px 5px rgba(220, 86, 197, 0.8),
    //       inset 0px 11px 104px -27px rgba(255, 255, 255, 0.3);
    //   }
    //   20%,
    //   24%,
    //   55% {
    //     box-shadow: none;
    //   }
    // }
  }
}
